*{
  box-sizing: border-box;
  padding: 0;
}

html {
  background-image: url('/images/cork-board-background.jpg');

}


body {
  min-height: 100%;
  min-width: 100%;
  margin: auto;
  /* background-color: #DDE1E7; */
  font-family: 'Aclonica'; font-size: 22px;
}
.wrapper {
		display: grid;
    grid-gap: 50px 5px;
		grid-template-columns: repeat(auto-fill, minmax(5, 1fr) ) ;
    grid-template-rows: repeat(12, 100px);
    width: 96vw;
    height: 100%;
    margin: 20px;



    /* grid-template-areas:
    "a a a a a"
    "b c d e f"
    "g g g g g"; */


	}

	.box {
		/* background-color: #DDE1E7; */
		color: #fff;
		border-radius: 5px;
		padding: 10px;
		font-size: 150%;

	}

.flag {
  max-width: 150px;
}


.a {
  grid-column: auto / span 5;
  grid-row: auto / span 1;
}

.dropdown {
  background-image: url("/images/paper_note_heading copy.png");
  background-size: 120% 100%;
  background-repeat: no-repeat;
  color: black;
}

.c {
  background-image: url("/images/paper_note_heading copy.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: black;
}

div.box.d p {
  font-size: 15px;
}

.d {
  background-image: url("/images/paper_note_heading copy.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: black;}

div.box.k p {
  font-size: 25px;
  line-height: 40px;

}

div.box.j p {
  font-size: 25px;
}


div.box.j img {
  height: 100px;
  width: 150px;
}

div.box.m p {
  font-size: 25px;
  border-style: dashed;
   border-color: black;
   text-align: center;
}

div.box.l p {
  font-size: 25px;
border-style: dashed;
 border-color: black;
 text-align: center;
}

.e {
  font-size: 15px;
  background-image: url("/images/paper_note_heading copy.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: black;
}

.f {
  font-size: 15px;
  background-image: url("/images/paper_note_heading copy.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: black;
}

.g {
  grid-column: auto / span 5;
  grid-row: auto / span 2;
}

.j {
  grid-column: auto / span 2;
  grid-row: auto / span 5;
  text-align: center;
  width: 100%;
  justify-content: center;
  position: relative;
  background-image: url("/images/paper_note_heading copy.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

}

.video {
  grid-column: auto / span 5;
  grid-row: auto / span 4;
}

#mapid  {
  grid-column: auto / span 2;
  grid-row: auto / span 5;

}
.i {
  grid-column: auto / span 3;
  grid-row: auto / span 5;
  text-align: center;
  width: 100%;
  justify-content: center;
  position: relative;
}

.pinned-countries {
  grid-column: auto / span 3;
  grid-row: auto / span 5;
}

.l {
grid-column: auto / span 2;
grid-row: auto / span 1;
}

.m {
grid-column: auto / span 3;
grid-row: auto / span 1;
}

.k {
  grid-column: auto / span 3;
  grid-row: auto / span 5;
  text-align: center;
  width: 90%;
  justify-content: center;
  position: relative;
  background-image: url("/images/paper_note_heading copy.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}


#flag_item {

  max-width:50%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 35%;
}

#capital_item {

  max-width:60%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 30%;
  font-size: 20px
}

#answer_item {
  position: absolute;
  left: 0;
  bottom: 70px;
  right: 0;
}

#answer_item_capital {
  position: absolute;
  left: 0;
  bottom: 80px;
  right: 0;
}

#question_item {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  max-height: 70px
}

p {
  max-width: 50%;
  margin: auto;
  color: black;
}

img {
  max-width: 50%;
  object-fit: contain;
  padding: 5px;
  /* max-wigit ont-family: 'Aclonica', sans-serif;*/
