/* Pinned countries box */

.pinned-countries {
  color: black;
}

/* Pinned countries header */

.pinned-countries-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pinned-countries-header h3 {
  font-size: 20px;
  margin: 10px;
}

.pinned-countries-header button {

}

/* Pinned countries list */

.pinned-countries-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 450px;
  min-width: 300px; */
}

.pinned-countries-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  /* max-width: 450px;
  min-width: 300px; */
}

.pinned-countries-list button {
  border: none;
  color: black;
  background-color: transparent;
  outline: none;
}

.pinned-countries-list button:focus {
  /* outline: none; */
}

.pinned-countries-list button:hover {

}

.pinned-countries-list button:active {

}

/* Pinned country collapsed */

.pinned-country-collapsed-container button {
  margin-left: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

.pinned-country-collapsed-container button.pinned-country-remove-button {
  background-color: red;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 2px 4px;
  font-size: 10px;
  font-style: monospace;
}

.pinned-country-collapsed-container button.pinned-country-remove-button:focus {
  background-color: darkred;
}

.pinned-country-collapsed-container button.pinned-country-remove-button:hover {
  background-color: darkred;
}

.pinned-country-collapsed-container button.pinned-country-remove-button:active {
  background-color: darkred;
  padding: 1px 3px;
  margin-top: 2px;
  margin-left: 7px;
}

/* Pinned country details */

.pinned-country-details {
  grid-row: 1 / 3;
  width: 300px;
  height: 450px;
  background-image: url("/images/paper_note_expanded_edited.png");
  background-size: cover;
  z-index: 1;
}

.pinned-country-details * {
  margin: 8px 0px;
}

/* pinned country details pin */

.pinned-country-details-pin-container {
  display: flex;
  justify-content: center;
  height: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.pinned-country-details-pin {
  width: 40px;
  height: 40px;
  padding: 0;
  margin-top: -10px;
  margin-bottom: 0;
}

/* pinned country details header */

.pinned-country-details-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
}

.pinned-country-details-name {
  margin: 0px;
}

button.pinned-country-details-close-button {
  background-color: red;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 3px 5px;
  font-size: 15px;
  font-style: monospace;
}

button.pinned-country-details-close-button:focus {
  background-color: darkred;
}

button.pinned-country-details-close-button:hover {
  background-color: darkred;
}

button.pinned-country-details-close-button:active {
  background-color: darkred;
  padding: 2px 4px;
  margin-top: 10px;
}

/* pinned country details notes */

.pinned-country-details-notes-outer-container {
  display: flex;
  justify-content: center;
}

.pinned-country-details-notes-inner-container {
 width: 80%;
}

.pinned-country-details-notes-heading {
  display: inline;
  font-size: 14px;
  font-weight: bold;
}

.pinned-country-details-notes {
  display: inline;
  font-size: 12px;
  /* width: 80%; */
}

/* pinned country details notes form */

.pinned-country-notes-form-heading-container {
  margin-bottom: 0;
}

button.pinned-country-notes-form-heading {
    background-color: #C2B4AD;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 0px 0px 0px 20px;
    font-size: 14px;
    text-align: center;
}

button.pinned-country-notes-form-heading::after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 12px;
  color: black;
  float: right;
  margin-left: 5px;
}

button.active, button.pinned-country-notes-form-heading:hover {
  background-color: #A39790;
}

button.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.notes-form-wrapper {
  display: none;
  overflow: hidden;
  margin: 0px;
}

.notes-form {
  display: flex;
  margin: 0px 0px 0px 20px;
  width: 90%;
  background-color: #DCCCC3;
}

.notes-form-textarea {
  flex-grow: 1;
  margin-left: 5px;
}

.notes-form-textarea:focus {
  outline: none;
}

.notes-form input {
  border: none;
  color: green;
  background-color: transparent;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
}

.notes-form input:focus {
  outline: none;
  text-decoration: underline;
  font-weight: bold;
}

.notes-form input:hover {
  outline: none;
  text-decoration: underline;
  font-weight: bold;
}

.notes-form input:active {
  outline: none;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 10px;
}

/* pinned country details show remove */

.pinned-country-show-remove-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pinned-country-show-remove-container button.pinned-country-details-show-info-button {
  border: none;
  color: green;
  background-color: transparent;
  font-size: 14px;
}

.pinned-country-show-remove-container button.pinned-country-details-show-info-button:focus {
  outline: none;
  text-decoration: underline;
  font-weight: bold;
}

.pinned-country-show-remove-container button.pinned-country-details-show-info-button:hover {
  outline: none;
  text-decoration: underline;
  font-weight: bold;
}

.pinned-country-show-remove-container button.pinned-country-details-show-info-button:active {
  outline: none;
  text-decoration: underline;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 12px;
}

.pinned-country-show-remove-container button.pinned-country-remove-button {
  border: none;
  color: red;
  background-color: transparent;
  font-size: 14px;
}

.pinned-country-show-remove-container button.pinned-country-remove-button:focus {
  outline: none;
  text-decoration: underline;
  font-weight: bold;
}

.pinned-country-show-remove-container button.pinned-country-remove-button:hover {
  outline: none;
  text-decoration: underline;
  font-weight: bold;
}

.pinned-country-show-remove-container button.pinned-country-remove-button:active {
  outline: none;
  text-decoration: underline;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 12px;
}
