.pinned-countries {

}

.pinned-countries h3 {
  font-size: 20px;
  text-align: center;
  margin: 8px 0px;
}

.pinned-countries-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pinned-country-details {
  display: none;
  overflow: hidden;
}
