/* Pinned countries box */

.pinned-countries {
  color: black;
  overflow: scroll;
  background-image: url("/images/cork-board-background.jpg");
  background-size: cover;
  min-width: 500px;
}

/* Pinned countries header */

.pinned-countries-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pinned-countries-header h3 {
  font-size: 30px;
  margin: 0;
  margin-left: 80px;
  margin-bottom: 10px;
  padding: 15px;
  padding-left: 22px;
  background-image: url("/images/paper_note_heading copy.png");
  background-size: cover;
}

.pinned-country-add-button {
  background-image: url("/images/blue_tack.png");
  background-size: 70px 70px;
  width: 70px;
  height: 70px;
  border: none;
  background-color: transparent;
  outline: none;
  margin-top: 10px;
  margin-bottom: 4px;
}

.pinned-country-add-button:hover {
  margin-top: 0px;
  margin-bottom: 14px;
}

.pinned-country-add-button:active {
  margin-top: 14px;
  margin-bottom: 0px;
}

.pinned-country-add-button .add-button-tooltip  {
    visibility: hidden;
    width: 120px;
    background-color: #A39790;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    right: 120px;
    top: 450px;
    opacity: 0;
    transition: opacity 0.3s;
}

.pinned-country-add-button:hover .add-button-tooltip {
    visibility: visible;
    opacity: 1;
}

/* Pinned countries list */

.pinned-countries-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-to-container {
  position: absolute;
  z-index: 1;
  right: 80px;
  top: 500px;
}

.pinned-countries-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 500px;
  justify-content: center;
}

.pinned-countries-list button {
  border: none;
  color: black;
  background-color: transparent;
  outline: none;
}

/* Pinned country collapsed */

.pinned-country-collapsed-container {
  height: 90px;
  background-image: url("/images/paper_note_collapsed_edited.png");
  background-size: cover;
  display: flex;
}

.pinned-country-collapsed-name {
  width: 170px;
  text-align: left;
  font-size: 18px;
  padding-bottom: 5px;
}

.pinned-country-collapsed-name:hover {
  font-weight: bold;
}

.pinned-country-collapsed-container button.pinned-country-remove-button {
  background-image: url("/images/blue_tack.png");
  background-size: 50px 52px;
  width: 50px;
  height: 52px;
  margin-top: 15px;
  margin-left: 5px;
}

.pinned-country-collapsed-container button.pinned-country-remove-button:hover {
  margin-top: 18px;
}

.pinned-country-collapsed-container button.pinned-country-remove-button:active {
  margin-top: 12px;
}

/* Pinned country details */

.pinned-country-details {
  grid-row: 1 / 3;
  width: 300px;
  height: 415px;
  background-image: url("/images/paper_note_expanded_edited.png");
  background-size: cover;
  z-index: 1;
}

.pinned-country-details * {
  margin: 8px 0px;
}

/* pinned country details pin */

.pinned-country-details-pin-container {
  display: flex;
  justify-content: center;
  height: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.pinned-country-details-pin {
  width: 40px;
  height: 40px;
  padding: 0;
  margin-top: -10px;
  margin-bottom: 0;
}

/* pinned country details header */

.pinned-country-details-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.pinned-country-details-name {
  margin: 0px;
  max-width: 220px;
  text-align: center;
  margin-left: 15px;
  font-size: 22px;
}

button.pinned-country-details-close-button {
  background-color: red;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 3px 5px;
  font-size: 15px;
  font-style: monospace;
}

button.pinned-country-details-close-button:focus {
  background-color: darkred;
}

button.pinned-country-details-close-button:hover {
  background-color: darkred;
}

button.pinned-country-details-close-button:active {
  background-color: darkred;
  padding: 2px 4px;
  margin-top: 10px;
}

/* pinned country details notes */

.pinned-country-details-notes-outer-container {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.pinned-country-details-notes-inner-container {
 width: 80%;
 overflow: scroll;
 max-height: 130px;
 margin-top: 0;
}

.pinned-country-details-notes-heading {
  display: inline;
  font-size: 16px;
  font-weight: bold;
}

.pinned-country-details-notes {
  display: inline;
  font-size: 14px;
}

/* pinned country details notes form */

.pinned-country-notes-form-heading-container {
  margin-bottom: 0;
}

button.pinned-country-notes-form-heading {
    background-color: #C2B4AD;
    color: black;
    cursor: pointer;
    padding: 8px 18px;
    width: 90%;
    text-align: left;
    border: none;
    outline: none;
    margin: 0px 0px 0px 20px;
    font-size: 14px;
    text-align: center;
}

button.pinned-country-notes-form-heading::after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 12px;
  color: black;
  float: right;
  margin-left: 5px;
}

button.active, button.pinned-country-notes-form-heading:hover {
  background-color: #A39790;
}

button.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.notes-form-wrapper {
  display: none;
  overflow: hidden;
  margin: 0px;
}

.notes-form {
  display: flex;
  margin: 0px 0px 0px 20px;
  width: 90%;
  background-color: #DCCCC3;
}

.notes-form-textarea {
  flex-grow: 1;
  margin-left: 5px;
}

.notes-form-textarea:focus {
  outline: none;
}

.notes-form input {
  border: none;
  color: green;
  background-color: transparent;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
}

.notes-form input:focus {
  outline: none;
  text-decoration: underline;
  font-weight: bold;
}

.notes-form input:hover {
  outline: none;
  text-decoration: underline;
  font-weight: bold;
}

.notes-form input:active {
  outline: none;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 10px;
}

/* pinned country details show remove */

.pinned-country-show-remove-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pinned-country-show-remove-container button.pinned-country-details-show-info-button {
  border: none;
  color: green;
  background-color: transparent;
  font-size: 14px;
}

/* .pinned-country-show-remove-container button.pinned-country-details-show-info-button:focus {
  outline: none;
  text-decoration: underline;
  font-weight: bold;
} */

.pinned-country-show-remove-container button.pinned-country-details-show-info-button:hover {
  outline: none;
  text-decoration: underline;
  font-weight: bold;
}

.pinned-country-show-remove-container button.pinned-country-details-show-info-button:active {
  outline: none;
  text-decoration: underline;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 12px;
}

.pinned-country-show-remove-container button.pinned-country-remove-button {
  border: none;
  color: red;
  background-color: transparent;
  font-size: 14px;
}

/* .pinned-country-show-remove-container button.pinned-country-remove-button:focus {
  outline: none;
  text-decoration: underline;
  font-weight: bold;
} */

.pinned-country-show-remove-container button.pinned-country-remove-button:hover {
  outline: none;
  text-decoration: underline;
  font-weight: bold;
}

.pinned-country-show-remove-container button.pinned-country-remove-button:active {
  outline: none;
  text-decoration: underline;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 12px;
}

/* how to popup */

.how-to-container {
 background-image: url("/images/how_to_speech_bubble.png");
 background-size: 500px 500px;
 /* border: 1px solid black;
 border-radius: 10px; */
 width: 500px;
 height: 500px
 position: absolute;
 top: 450px;
 right: 30px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.how-to-header-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  width: 300px;
}

.how-to-heading {
  margin-bottom: 25px;
  font-size: 24px;
}

.how-to-blurb {
  max-width: 270px;
  width: 80%;
  padding-bottom: 25px;
  font-size: 20px;
  height: 300px;
}

button.how-to-close-button {
  background-color: red;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  padding: 1px 5px 3px 5px;
  font-size: 15px;
  font-style: monospace;
  /* height: 23px; */
}

.how-to-close-button:focus {
  background-color: darkred;
}

.how-to-close-button:hover {
  background-color: darkred;
}

.how-to-close-button:active {
  background-color: darkred;
  padding: 0px 4px 2px 4px;
  margin-right: 2px;
}
